[Unit]
Description=Install the vulnogram dependencies from package-lock.json inside the sandbox

[Service]
Type=oneshot
Environment=HOME=/opt/vulnogram-test
WorkingDirectory=/opt/vulnogram-test
ExecStart=/usr/bin/npm ci --ignore-scripts
Restart=no
PrivateTmp=yes
NoNewPrivileges=true
ProtectSystem=strict
RestrictNamespaces=uts ipc pid user cgroup
ProtectKernelTunables=yes
ProtectKernelModules=yes
PrivateDevices=yes
RestrictSUIDSGID=true
User=vulnogram
Group=vulnogram
TemporaryFileSystem=/
BindReadOnlyPaths=/usr /bin /lib
BindPaths=/opt/vulnogram-test

[Install]
